video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  
}
.container{
  display: flex;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.84);
  margin-top: 60px;
  padding: 35px;
}

h1{
  font-size: 40px;
  font-family: "Protest Guerrilla", sans-serif;
  text-align: center;
}
p{
  font-size: 25px;
  font-family: "SUSE", sans-serif;
  text-align: center;
}
button{
  font-family: "Protest Guerrilla", sans-serif;
  font-size: 30px;
  background-color: #272abf;
  cursor: pointer;
  border: none;
  color: white;
  padding: 10px 20px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
}


